{% extends 'FAQ/base_FAQ.html' %}
{% load static %}
{% block content %}

    <header>
        <div class="header">
            <h1>Astuces à l'institut</h1>
        </div>
    </header>

    <div class="topnav">
        <h4>Qui vais-je voir si j'ai un problème ?</h4>
    </div>

    <div class="card">
        <ul>
            <li>Organisation : Martine</li>
            <li>Matériel : Sabrina/Marie-Ange</li>
            <li>Relationnel : Martine</li>
            <li>Compréhension : Tes potes, des L2/L3, le prof</li>
            <li>Personnel : Catherine</li>
            <li>Avec mon ordi : Cécile, Sabrina, Moi (Arthur), ou le responsable de promo si il existe</li>
            <li>Avec le décompte des heures de Jazz : Marie-Ange</li>
            <li>En bio : le prof</li>
            <li>En chimie : RIP (sinon les anciens STL de ta classe, ils sont bons en bio et chimie)</li>
            <li>En ingé : Les anciens STI2D/S-SI</li>
            <li>En physique : Rien à faire :(</li>
            <li>Général : <strong>Les tuteurs polytechniciens</strong>. Ils savent tout, mais il faut aller leur demander!</li>
        </ul>
    </div>
    <br><br/>
    <div class="topnav">
        <h4>Qui vais-je voir si j'ai un problème ?</h4>
    </div>

    <div class="card">
        <h4>Comment imprimer quelque chose ?</h4>
        <p>Après avoir préparé une clé USB avec le PDF que tu veux imprimer :</p>
        <ul>
            <li>Méthode 1 : Aller voir Sabrina et lui demander gentiment, mais c'est vraiment pas sur que ca marche.</li>
            <li>Méthode 2 : Aller trouver une feuille blanche (L'institut n'en donne plus, il te faudra une ramette de feuilles dans le casier, sinon il va falloir aller gratter chez les autres), brancher ta clé USB ou ton ordi à l'imprimante vers le fond de l'institut (Après la INFO3)</li>
            <li>Méthode 3 : Direction BU</li>
        </ul>
        <br><br/>

    </div>
    <div class="topnav">
        <h4>Qui vais-je voir si j'ai un problème ?</h4>
    </div>
    <div class="card">
        <h4>La bibliothèque universitaire ?</h4>
        Il y a une biliothéque juste à quelque pas de l'institut (à moins d'une minute du Restaurant Universitaire)
    </div>
    <br><br/>

    <div class="topnav">
    <h4>Qui vais-je voir si j'ai un problème ?</h4>
</div>
    <div class="card">
        <h4>Les prénoms super utiles</h4>
        <ul>
            <li>Jeanne : Prof de maths</li>
            <li>Jean : Prof de maths</li>
            <li>Tony : Prof de maths/info</li>
            <li>Alain : Prof de maths</li>
            <li>Joël : Ancien prof de maths/info</li>
            <li>Cyril : Prof de Physique</li>
            <li>Cathy : Prof d'anglais</li>
            <li>Nardjis : Ancienne prof de bio</li>
            <li>Martine : Prof de bio, responsable des étudiants</li>
            <li>Cécile : Gestion des profs et emplois du temps (fait aussi un cours de traitement de l'eau)</li>
            <li>Sabrina : À l'administration : La sauveuse de l'Humanité! </li>
            <li>Marie-Ange : Gestion du matériel et du Jazz</li>
            <li>Bénédicte : Directrice de l'institut, référence pour le projet pro et les bourses.</li>
            <li>Franck : Directeur des formations, gestion des projets professionnels des étudiants</li>
        </ul>
        N'hésitez surtout pas à allez voir les tuteurs !</p>
    </div>
    <br><br/>

    <div class="topnav">
    <h4>Qui vais-je voir si j'ai un problème ?</h4>
</div>
    <div class="card">
        <h4>Se connecter au WiFi</h4>
        Utilisez eduroam :
        Utilisateur : " prénom.nom@u-psud.fr "
        Mot de passe : Votre mot de passe du compte u-psud (sso)
         en ajoutant le @u-psud.fr à votre
            nom d'utilisateur, cela vous permettra
            de vous connecter à eduroam partout dans le monde,
            c'est surprenant quand ton téléphone se met à vibrer comme un
            dingue à Londres parce que tu est passé devant une université lambda!
    </div>
    <br><br/>

    <div class="card">
       Si vous voulez plus d'information sur ce sujet, n'hésitez pas à aller voir le site crée par l'un des étudiants de l'institut qui vous donnera plus de détails sur ses sujets !
        <a href="https://paris-ci.github.io/FAQ-L1/vos-etudes" target="_blank">Cliquez ici ! </a>
    </div>



{% endblock %}