{% extends 'FAQ/base_FAQ.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FAQ.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'js/jquery-3.3.1.js' %}" />


    <header>
        <div class="header">
            <h1><font color="FFD966">Activités extrascolaires</font></h1>
        </div>
    </header>
{% comment %}
    <div class="topnav">
        <h4><font color="#FECA05">Que faire après les cours ?</font></h4>
    </div>
    <div class="card">
        <p><strong>Attention, l'équipe pédagogique recommande de ne pas s'engager dans trop d’activités</strong></p>
        Il y a beaucoup de choix à Paris-Sud !
        <ul>
            <li>Le sport avec le SUAPS : <a href="http://www.u-psud.fr/fr/vie-etudiante/sport.html">voir ici</a></li>
            <li>Les assocations étudiantes : Pour plus d'informations n'hésitez pas à vous renseignez sur le site de Paris-Sud ou auprés de vos camarades</li>
        </ul>
    </div>

    <div class="topnav">
        <h4><font color="#FECA05">Où bien manger ?</font></h4>
    </div>
    <div class="card">
        <ul>
            <li>Le restaurant universitaire du crous. Il se trouve juste à quelques pas de l'institut et est très abordable (3,25 le repas complet) Il est aussi possible de prendre des sandwichs lorsqu'il n'y a pas assez de temps pour manger dans la cafératia (qui est de l'autre côté du restaurant universitaire). Attention, entre 12h10 et 12h30, beaucoup de queue. Il est aussi ouvert le soir si vous restez bosser à l'institut</li>
            <li>Les boulangeries sur Orsay, les prix peuvent varier, mais il font de très bon sandwich/hamburger.</li>
            <li>Le <a href="https://goo.gl/maps/JsYVRvU36xC2">Franprix</a>, pratique, mais cher pour ce que c'est</li>
            <li>Il y a beaucoup de restaurant dans Orsay qui propose toute sorte de chose (Japonais, Thailandais, Français, Pizzaria...)</li>
            <li>Le vendredi midi il y a une vendeuse de crêpe salé et sucré sur le marché d'Orsay (vraiment bonnes, pas données cela dit)</li>
        </ul>
        N'oubliez pas que l'institut dispose d'une bouilloire, d'un frigo et de deux micro-ondes.
        Pour ceux qui ont une voiture, en plus du carrefour pas trop loin, je peux recommander :
        <ul>  <li><a href="https://goo.gl/maps/NEuYoHiQAkH2">Costco</a>, pour 36€ par an, vous pouvez entrer avec une/deux autre(s) personne(s) dans ce magasin de grandes quantités avec parfois des prix intéressants (si vous faites à manger à plusieurs)</li>
            <li>La <a href="https://goo.gl/maps/WNSq4oBbjiK2">Ferme de Viltain</a>, et surtout la cueillette pour des fruits et légumes vraiment bons et très peu chers (attention, la cueillette n'est pas onéreuse, mais le magasin de la ferme lui est hors-de-prix). Pensez à appeler avant, pour savoir ce qu'il fait bon manger : 01 69 41 22 23 (serveur vocal 24/7)</li>
            <li>A environ 30 minutes de l'institut se trouve un magasin Grand frais plutôt grand</li>
        </ul>
    </div>

    <div class="topnav">
        <h4><font color="#FECA05">Le BDE</font></h4>
    </div>
    <div class="card">
        Le BDE se passe d'année en année vers Janvier. Une équipe de L1-&gt;L2 anime donc l'institut et propose des soirées et activités (la journée d'intégration est la première soirée/journée de l'année). N'hésitez pas à aller les voir et à soumettre vos idées et demandes.
        Les soirées sont normalement conçues pour les budgets serrés :)
    </div>

    <div class="card">
       Si vous voulez plus d'information sur ce sujet, n'hésitez pas à aller voir le site crée par l'un des étudiants de l'institut qui vous donnera plus de détails sur ses sujets !
        <a href="https://paris-ci.github.io/FAQ-L1/vos-etudes" target="_blank">Cliquez ici ! </a>
    </div>
{% endcomment %}


            <div id="accordion">
                <div class="card">
                    <div class="topnav1" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-warning" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Où bien manger ?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>Le restaurant universitaire du crous. Il se trouve juste à quelques pas de l'institut et est très abordable (3,25 le repas complet) Il est aussi possible de prendre des sandwichs lorsqu'il n'y a pas assez de temps pour manger dans la cafératia (qui est de l'autre côté du restaurant universitaire). Attention, entre 12h10 et 12h30, beaucoup de queue. Il est aussi ouvert le soir si vous restez bosser à l'institut</li>
                                <li>Les boulangeries sur Orsay, les prix peuvent varier, mais il font de très bon sandwich/hamburger.</li>
                                <li>Le <a href="https://goo.gl/maps/JsYVRvU36xC2">Franprix</a>, pratique, mais cher pour ce que c'est</li>
                                <li>Il y a beaucoup de restaurant dans Orsay qui propose toute sorte de chose (Japonais, Thailandais, Français, Pizzaria...)</li>
                                <li>Le vendredi midi il y a une vendeuse de crêpe salé et sucré sur le marché d'Orsay (vraiment bonnes, pas données cela dit)</li>
                            </ul>
                            N'oubliez pas que l'institut dispose d'une bouilloire, d'un frigo et de deux micro-ondes.
                            Pour ceux qui ont une voiture, en plus du carrefour pas trop loin, je peux recommander :
                            <ul>  <li><a href="https://goo.gl/maps/NEuYoHiQAkH2">Costco</a>, pour 36€ par an, vous pouvez entrer avec une/deux autre(s) personne(s) dans ce magasin de grandes quantités avec parfois des prix intéressants (si vous faites à manger à plusieurs)</li>
                                <li>La <a href="https://goo.gl/maps/WNSq4oBbjiK2">Ferme de Viltain</a>, et surtout la cueillette pour des fruits et légumes vraiment bons et très peu chers (attention, la cueillette n'est pas onéreuse, mais le magasin de la ferme lui est hors-de-prix). Pensez à appeler avant, pour savoir ce qu'il fait bon manger : 01 69 41 22 23 (serveur vocal 24/7)</li>
                                <li>A environ 30 minutes de l'institut se trouve un magasin Grand frais plutôt grand</li>
                            </ul>
                        </div>
                    </div>

                    <br><br/>

                    <div class="topnav1" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Le BDE
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Le BDE se passe d'année en année vers Janvier. Une équipe de L1-&gt;L2 anime donc l'institut et propose des soirées et activités (la journée d'intégration est la première soirée/journée de l'année). N'hésitez pas à aller les voir et à soumettre vos idées et demandes.
                            Les soirées sont normalement conçues pour les budgets serrés :)
                        </div>
                    </div>

                    <br><br/>

                    <div class="topnav1" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Que faire après les cours ?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>Attention, l'équipe pédagogique recommande de ne pas s'engager dans trop d’activités</strong></p>
                            Il y a beaucoup de choix à Paris-Sud !
                            <ul>
                                <li>Le sport avec le SUAPS : <a href="http://www.u-psud.fr/fr/vie-etudiante/sport.html">voir ici</a></li>
                                <li>Les assocations étudiantes : Pour plus d'informations n'hésitez pas à vous renseignez sur le site de Paris-Sud ou auprés de vos camarades</li>
                            </ul>
                        </div>
                    </div>
            </div>

          uSi vous voulez plus d'information sur ce sujet, n'hésitez pas à aller voir le site crée par l'un des étudiants de l'institut qui vous donnera plus de détails sur ses sujets !
        <a href="https://paris-ci.github.io/FAQ-L1/vos-etudes" target="_blank">Cliquez ici ! </a>
    </div>


{% endblock %}