{% extends 'FAQ/base_FAQ.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FAQ.css' %}" />

    <html>

    <body>
    <header>
    <div class="header">
        <h1>Astuces pour les devoirs</h1>
        <p>Voici quelques petits conseil qui vous seront utils lors de ses 3 années</p>
    </div>
    </header>

    <div class="topnav">
        <h4>Les travaux de groupes</h4>
    </div>

    <div class="card">
    Le gros sujet, surtout au début avec le projet Charpak, et au S2&S3, l'APP (Apprentissage par projets)
    Comment ne pas se taper dessus ?
    S'armer... de patience ! Je commence par là, car c'est une réponse qui va vous être indispensable! Première chose, je ne pense pas qu'il soit vraiment possible de finir un APP, ou un projet Charpak, sans avoir des périodes de désaccord. Le principal est de savoir les gérer. Pour cela, quelques astuces :
<br><br/>

    <ul> <li>Rappelez-vous que vous avez tous un objectif commun : faire avancer le projet de la meilleure façon possible.
        <li>Si votre désaccord concerne quelque chose de plutôt matériel, je pense que l'idéal est de prendre deux minutes pour que chacun résume, à l'écrit, les avantages et inconvénients de sa méthode préférée. Après ça, comparez entre-vous et décidez objectivement du meilleur point de vue à adopter.</li>
        <li>Si le désaccord existe toujours, allez voir une personne ou deux, extérieures au groupe, pour trancher. </li>
        <li>Toute engeulade doit rester confinée dans le cadre du projet, si vous n’êtes pas en projet, pas de raisons de s'énerver entre vous. </li>
        <li>N'hésitez pas à faire appel à vos enseignants pour régler des désaccords techniques </li>
    </ul>
    </div>
    </body>

    </html>
{% endblock %}