{% extends 'FAQ/base_FAQ.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FAQ.css' %}" />

    <html>

    <body>
    <header>
        <div class="header">
            <h1>Astuces pour les devoirs</h1>
            <p>Voici quelques petits conseil qui vous seront utils lors de ses 3 années</p>
        </div>
    </header>

    <div class="topnav">
        <h4>Comment avoir une bonne relation avec son groupe de travail ?</h4>
    </div>

    <div class="card">
        <ul> <li>Rappelez-vous que vous avez tous un objectif commun : faire avancer le projet de la meilleure façon possible.
            <li>Si votre désaccord concerne quelque chose de plutôt matériel, je pense que l'idéal est de prendre deux minutes pour que chacun résume, à l'écrit, les avantages et inconvénients de sa méthode préférée. Après ça, comparez entre-vous et décidez objectivement du meilleur point de vue à adopter.</li>
            <li>Si le désaccord existe toujours, allez voir une personne ou deux, extérieures au groupe, pour trancher. </li>
            <li>Toute engeulade doit rester confinée dans le cadre du projet, si vous n’êtes pas en projet, pas de raisons de s'énerver entre vous. </li>
            <li>N'hésitez pas à faire appel à vos enseignants pour régler des désaccords techniques </li>
        </ul>
    </div>
    <br><br/>

    <div class="topnav">
        <h4>Comment être le plus productif possible ?</h4>
    </div>

    <div class="card">
        <ul> <li> Si le projet dure quelques jours ou plus, il peut être vraiment cool d'avoir un moyen simple de communiquer entre vous : SMS groupés, Discord, Messenger, Slack, Skype,... Ce ne sont pas les logiciels qui manquent, mais ils vous permettent tous de garder une trace des choses qui se sont dites, et ainsi d'éviter de vous répéter.</li>
            <li> Si possible, une personne se charge de gérer les échelons, les objectifs et la progression (ça prend pas longtemps) et de rappeler gentiment aux autres les choses à faire, ça permet vraiment de s’apercevoir tôt des étapes loupées ou bâclées, pour y revenir plus tard.</li>
            <li>Si vous parlez à quelqu'un d’extérieur au groupe (Notamment après un diapo), un bout de papier, un stylo et prenez des notes!</li>
            <li>La ponctualité de tous les membres du groupe est indispensable. Un petit rappel des horaires dans le chat de groupe ("N'oubliez pas demain, RDV a 8h45 en C3, venez tous avec l'introduction de votre partie et les points essentiels à ajouter au diapo") ne fera jamais de mal (CF gérer les échelons)</li>
            <li>Dormez, profitez de vos nuits pour vous reposer car c'est vital pour un travail de groupe (ou pas d'ailleurs)</li>
        </ul>
    </div>
    <br><br/>

    <div class="topnav">
        <h4>Quels outils utiliser lors d'un travail en groupe ?</h4>
    </div>

    <div class="card">
        <ul> <li> Utilisez des outils du style Trello pour que chacun voit ce qui lui reste à faire, et gardez un œil sur les deadlines</li>
            <li> Comme mentionné précédemment, je recommande vraiment Discord pour causer entre vous!</li>
            <li> Au sujet de l'édition collaborative, voici un tableau qui récapitule les choix disponibles, à vous d'opter pour ce qui vous semble le plus approprié</li>
            <br><br/>
            Pour plus d'information n'hésitez pas à allez sur l'excellent site crée par un étudiant de la promo qui explique et compare en détail les outils !
            <br><br/>
            <a href="https://paris-ci.github.io/FAQ-L1/vos-etudes" target="_blank">C'est par ici! </a>
        </ul>
    </div>


    <br><br/>

    <div class="topnav">
        <h4>Comment gérer une bibliographie ?</h4>
    </div>

    <div class="card">

        <ul>
            <li>Pour trouver des articles scientifiques : <a href="https://scholar.google.fr/">Google Scholar</a></li>
            <li>Pour avoir accès (facilement) au PDF des articles (sans payer, oui c'est illégal mais tout le monde le fait) : <a href="https://whereisscihub.now.sh/">Sci-Hub</a> (lien direct : <a href="https://whereisscihub.now.sh/go">https://whereisscihub.now.sh/go</a>) ou <a href="https://arxiv.org/">arXiv</a>, gratuit et légal, donc à préférer, accessible depuis Scholar. Il y a aussi d'autres moyens, renseignez-vous auprès de Franck ou Martine, et de la BU.</li>
            <li>Et pour les livres et autres cours <a href="http://gen.lib.rus.ec/">LibGen</a></li>
            <li>Balancez tous vos PDFs dans <a href="https://www.mendeley.com/">Mendeley</a> et laissez-le vous générer la bibliographie</li>
        </ul>
    </div>
    <br><br/>

    <div class="topnav">
        <h4>Petits conseils</h4>
    </div>

    <div class="card">
        <ul>
            <li>Prenez de l'avance</li>
            <li>Relisez (tous ensemble si groupe) l'intégralité du devoir avant de l'envoyer (comptez jusqu'a 4 heures dans le cas d'un rapport d'APP, je dis ça mais je dis rien)</li>
            <li>La formule des retards (un tiers des points en moins par jour de retard) existe, mais je ne l'ai jamais vu être respectée par les profs (<strong>mais il y a bien un malus par contre!</strong>)</li>
            <li>Ne vous compliquez pas la vie plus que ça sur le design </li>
            <li>Les fautes d'orthographe coûtent cher dans un devoir.</li>
            <li>N'hésitez pas à travailler ensemble dans une salle à l'institut</li>
            <li>Vérifiez sur les vidéo-projecteurs que vos diapos s'affichent bien (les couleurs sont souvent beaucoup plus mauvaises vues du bout de la salle, avec le beau contre jour)</li>
            <li>N'hésitez pas à (ab)user des schémas pour faciliter la compréhension</li>
        </ul>
        <ul>
            <li>Pensez à demander de l'aide à vos collègues ou aux promos précédentes si vous ne comprenez pas quelque chose</li>
        </ul>

    </div>
    <br><br/>

    <div class="topnav">
        <h4>Comment se relire ?</h4>
    </div>

    <div class="card">

        Sur un projecteur, à l'institut, vérifiez que...
        <ul>
            <li>Tout s'affiche bien (mise en page, couleurs)</li>
            <li>On ne voit pas de fautes d'orthographe</li>
            <li>Chaque affirmation contient une source</li>
            <li>Chaque figure dispose d'une légende (et d'une source, si applicable)</li>
            <li>Le contenu suit un fil logique, facile à comprendre</li>
        </ul>
    </div>
    <br><br/>
    <div class="topnav">
        <h4>Lors de l'envois d'un email</h4>
    </div>

    <div class="card">
        <li>On envoie l'email à la/les personnes principales (celles qui vont évaluer), et on met en copie les membres de son groupe.</li>
        <li>On n'oublie pas la piece jointe, que l'on nomme ainsi (comme le sujet) <code>[N° GROUPE]-[Date]-[Type] - [sujet].ext</code> (Par exemple <code>4-231018-Diapo - APP_Les vacances.pdf</code>)</li>
        <li>On envoie si possible un PDF en plus du document éditable</li>
        <li>Si les pièces jointes sont trop lourdes, utilisez <a href="https://wetransfer.com/">WeTransfer</a> ou <a href="https://transfert.u-psud.fr/">le service d'u-psud</a></li>
        <li>On n'oublie pas de remercier, et on envoie une bonne poignée de minutes avant, afin d’être sur que ça part sans problèmes (vérifiez que vous ne recevez pas de réponses du serveur de mail disant que l'adresse du destinataire est fausse)</li>
    </div>

    <div class="card">
       Si vous voulez plus d'information sur ce sujet, n'hésitez pas à aller voir le site crée par l'un des étudiants de l'institut qui vous donnera plus de détails sur ses sujets !
        <a href="https://paris-ci.github.io/FAQ-L1/vos-etudes" target="_blank">Cliquez ici ! </a>
    </div>
    </body>
    </html>


{% endblock %}