{% extends 'FAQ/base_FAQ.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/FAQ.css' %}" />

    <header>
        <div class="header">
            <h1><font color="#6AA84F">Infos utiles</font></h1>
        </div>
    </header>

{% comment %}    <div class="topnav">
        <h4><font color="#BCE4E4">Les sites officiels (de l'université)</font></h4>
    </div>
    <div class="card">
        <ul>
            <li>Dokeos, là où tous les profs déposent des documents : <a href="http://formation.u-psud.fr/">http://formation.u-psud.fr/</a></li>
            <li>Zimbra, où récuperer vos mails u-psud (si vous ne les envoyez pas automatiquement sur votre mail perso) : <a href="https://zimbra.u-psud.fr/">https://zimbra.u-psud.fr/</a></li>
            <li>Karuta, votre portfolio en ligne sur lequel vous gardez une trace des compétences que vous réalisez, qui compte dans vos notes : <a href="http://portfolio.villebon-charpak.fr:8080/karuta/application/htm/karuta.htm">http://portfolio.villebon-charpak.fr:8080/karuta/application/htm/karuta.htm</a></li>
        </ul>
    </div>

    <div class="topnav">
        <h4><font color="#BCE4E4">Pour les devoirs</font></h4>
    </div>
    <div class="card">

        <ul>
            <li><a href="https://www.wolframalpha.com/">Wolfram|Alpha</a> vous permet de calculer des formules compliquées et vous donne parfois des solutions étapes par étapes. Vous pouvez aussi utiliser <a href="https://www.symbolab.com/">Symbolab</a></li>
            <li>Un bon correcteur (payant) serait Antidote, sinon utilisez <a href="https://www.grammarly.com/">Grammarly (anglais)</a> ou <a href="https://bonpatron.com/">Bon Patron (français)</a></li>
            <li>Tant que l'on est dans les langues, pour traduire Francais &lt;-&gt;  Anglais, le meilleur traducteur disponible est <a href="https://www.deepl.com/translator">DeepL</a>. Il marche super bien pour les articles scientifiques, mais aussi pour les devoirs d'anglais.</li>
        </ul>
    </div>

    <div class="topnav">
        <h4><font color="#BCE4E4">Pour les gens qui prennent des notes sur leur ordi</font></h4>
    </div>
    <div class="card">
        <ul>
            <li>Au moins au début, créez-vous une session séparée sur votre ordi où vous n'êtes pas connecté à vos sites distracteurs préférés (Facebook, Discord, Messenger, Gmail, ...) : beaucoup moins de risques de divaguer
            </li>
            <li>Si l'envie vous prend, utilisez Markdown pour prendre des notes : c'est un moyen simple de prendre des notes (voir <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">ici</a> pour la référence rapide)
            </li>
            <li>A moins que vous soyez très bon en LaTeX, oubliez la prise de notes sur ordi en maths
            </li>
        </ul>
    </div>{% endcomment %}

    <div id="accordion">
        <div class="card">
            <div class="topnav4" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Les sites officiels (de l'université)
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Dokeos, là où tous les profs déposent des documents : <a href="http://formation.u-psud.fr/">http://formation.u-psud.fr/</a></li>
                        <li>Zimbra, où récuperer vos mails u-psud (si vous ne les envoyez pas automatiquement sur votre mail perso) : <a href="https://zimbra.u-psud.fr/">https://zimbra.u-psud.fr/</a></li>
                        <li>Karuta, votre portfolio en ligne sur lequel vous gardez une trace des compétences que vous réalisez, qui compte dans vos notes : <a href="http://portfolio.villebon-charpak.fr:8080/karuta/application/htm/karuta.htm">http://portfolio.villebon-charpak.fr:8080/karuta/application/htm/karuta.htm</a></li>
                    </ul>
                </div>
            </div>

            <div class="topnav4" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                       Pour les devoirs
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li><a href="https://www.wolframalpha.com/">Wolfram|Alpha</a> vous permet de calculer des formules compliquées et vous donne parfois des solutions étapes par étapes. Vous pouvez aussi utiliser <a href="https://www.symbolab.com/">Symbolab</a></li>
                        <li>Un bon correcteur (payant) serait Antidote, sinon utilisez <a href="https://www.grammarly.com/">Grammarly (anglais)</a> ou <a href="https://bonpatron.com/">Bon Patron (français)</a></li>
                        <li>Tant que l'on est dans les langues, pour traduire Francais &lt;-&gt;  Anglais, le meilleur traducteur disponible est <a href="https://www.deepl.com/translator">DeepL</a>. Il marche super bien pour les articles scientifiques, mais aussi pour les devoirs d'anglais.</li>
                    </ul>
                </div>
            </div>
            <div class="topnav4" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                        Pour les étudiants prennant des notes sur leurs ordi
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Au moins au début, créez-vous une session séparée sur votre ordi où vous n'êtes pas connecté à vos sites distracteurs préférés (Facebook, Discord, Messenger, Gmail, ...) : beaucoup moins de risques de divaguer
                        </li>
                        <li>Si l'envie vous prend, utilisez Markdown pour prendre des notes : c'est un moyen simple de prendre des notes (voir <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">ici</a> pour la référence rapide)
                        </li>
                        <li>A moins que vous soyez très bon en LaTeX, oubliez la prise de notes sur ordi en maths
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


        <div class="card">
       Si vous voulez plus d'information sur ce sujet, n'hésitez pas à aller voir le site crée par l'un des étudiants de l'institut qui vous donnera plus de détails sur ses sujets !
        <a href="https://paris-ci.github.io/FAQ-L1/vos-etudes" target="_blank">Cliquez ici ! </a>
    </div>



{% endblock %}