{% extends 'FAQ/base_FAQ.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<header>
    <div class="header">
        <h1>Sites utiles</h1>
    </div>
</header>

    <div class="card">
   <P style="text-align: center"> Voici donc quelques site qui pourrait vous êtes utils lors de votre apprentissage</P>


        <h2 style="border:2px solid DodgerBlue;" align="center" >Trello</h2>        Trello est un site qui permet d'organiser les tâches de chacun et de suivre l'avancé d'un projet.
        <a href="https://trello.com/home?truid=tr21df1d-3c8c-213d-6c04-bd317bd82658" download>
            <P style="text-align:center"><img src="{% static "/images/trello-logo-blue.png" %}" width="200" height="100" align="center" ></P>
        </a>


        <br><br/>
        <h2 style="border:2px solid DodgerBlue;" align="center">DropBox</h2>
        Dropbox est un site qui vous permettra de transferer des dossier volumineux. Elle est très pratique pour stocker vos propres documents.

        <a href="https://www.dropbox.com/fr" >
            <P style="text-align:center"><img src="{% static "/images/dropbox-logo@2x.jpg" %}" width="150" height="100" align="center"></P>
        </a>


        <br><br/>
        <h2 style="border:2px solid DodgerBlue;" align="center">Discord</h2>
        Discord est un chat vocal sous la forme de "salons". Il peut vous permettre de réaliser
        une véritable session de travail vocal, avec des salons spéciﬁques.

        <a href="https://discordapp.com/" >
            <P style="text-align:center"><img src="{% static "/images/discod-logo.png" %}" width="100" height="100" align="center"></P>
        </a>


        <br><br/>
        <h2 style="border:2px solid DodgerBlue;" align="center">Zotero</h2>
        Zotero est un logiciel gratuit qui vous permettra de réaliser des références
        bibliographiques sans trop vous casser la tête.

        <a href="https://www.zotero.org/" >
            <P style="text-align:center"><img src="{% static "/images/logo-zotero.png" %}" width="120" height="100" align="center"></P>
        </a>


        </div>
    <div class="card">
        <P style="text-align:center">Vous pouvez trouver ici quelques outils/sites interessants qui pourront vous aider lors de ses trois années ! </P>
        <P style="text-align:center"> Si vous voulez plus de détail je vous recommande l'excellement pdf fait par des étudiants de l'institut ci-dessous </P>
        <a href="/static/starter-kit-institut.pdf" download>
            <P style="text-align:center"><img src="{% static "/images/imageDossier.png" %}" width="150" height="100" align="center"></P>
        </a>
    </div>


{% endblock %}