{%extends 'base.html' %}
{% load bootstrap4 %}
{%load static%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentions_legales.css' %}"/>
{% endblock %}
{%block content%}
<div class="bloc">
    <h1><U>Conditions d'utilisations </i> </U></h1>
    <p>Les serveurs Web, ordinateurs qui « servent » les pages Web, identifient automatiquement votre ordinateur à l’aide de cette adresse IP et, lorsque vous voulez consulter une de nos pages, nos serveurs enregistrent votre adresse IP. Nous ne faisons pas le lien entre les adresses IP et toute donnée personnelle identifiable. Ainsi, même si votre session est enregistrée, vous restez anonyme.</p>

    <h3>Utilisation et accès au Site</h3>
    <p>L’accès et l’utilisation du Site implique l’acceptation sans réserve 
        par
        l’Utilisateur des Conditions 
        Générales d’Utilisation. Nous nous réservons le  droit  de  modifier  à  tout  moment  les 
        Conditions  Générales  d’Utilisation.  La  dernière  version  en  vigueur  des  Conditions  Générales 
        d’Utilisation est accessible en permanen
        ce sur le Site 
        via l’onglet 
        «
        Mentions Légales
        » et  peut être 
        consultée à tout moment par les Utilisateurs. </p>
        <p>L’Utilisateur qui ne souhaiterait pas accepter toute ou partie des Conditions Générales ou une 
            modification ultérieure, doit renoncer à utiliser l
            e Site
            .</p>
        <p>Le 
            Site  est  accessible  gratuitement 
            à l’adresse suivante. Nous nous réservons la possibilité d’interrompre ou de suspendre momentanément l’accès au 
            Site ou d’en modifier l’accès pour des raisons de maintenance
            ou  pour  toutes  autres  raisons,  sans 
            que cela ouvre droit à une quelconque indemnité au profit de l’Utilisateur</p>
        <p>Pour pouvoir utiliser le Site, l’Utilisateur doit disposer d’un matériel informatique compatible avec les 
            spécifications 
            techniques  minimum
            .   Avant   toute   utilisation   du   Site, 
            l’Utilisateur doit s’assurer que son matériel informatique est compatible avec l’utilisation du Site et 
            des  produits  et  services  accessibles  sur  le  Site.  En  aucun
            cas,notre responsabilité ne pourra être engagée en cas d’impossibilité pour l’Utilisateur d’accéder au Site. </p>

    <h3>Données collectées</h3>
    <p>Nous collectons deux principaux types d’informations auprès des utilisateurs : données personnelles (telles que les noms et adresses électroniques) ; et les données agrégées (informations sur le trafic sur le site ; par exemple, nombre d’utilisateurs connectés à ce site quotidiennement).</p>

    <h3>Données personnelles</h3>
    <p>Les données personnelles sont collectées lorsque les utilisateurs nous fournissent des informations, par exemple, lorsqu'ils remplissent leur profil.</p>
    
    <h3>Utilisation des informations collectées</h3>
    <p>Les données personnelles fourni permettront SEULEMENT aux personnes ayant un identifiant, et étant connecté de voir votre profil, contenant les informations (numéro,mail).
    </p>

    <h3>Transmission à un tiers des informations collectées</h3>
    <p>Nous ne vendons ni commercialisons ni louons ni transmettons de toute autre manière que ce soit vos données personnelles à un tiers sans votre accord préalable.</p>

    <h3>Sécurité</h3>
    <p>La sécurité de toutes les informations personnellement identifiables qui sont associées à des utilisateurs de ce site est très importante pour nous. Nous appliquons plusieurs mesures de sécurité afin de garantir la sécurité de vos données personnelles. Vous ne devez communiquer à personne votre mot de passe ou votre numéro d’identification utilisateur. Il est malheureusement impossible de garantir à 100 % la sécurité de la transmission de données par Internet.</p>

    <h3>Clause de non-responsabilité</h3>
    <p>LE CONTENU DE CE SITE EST FOURNI « EN L’ETAT » ET SANS GARANTIE D’AUCUNE SORTE, NI EXPRESSE NI IMPLICITE. NOUS NE GARANTISSONS PAS QUE LE FONCTIONNEMENT DU SITE SE FASSE SANS INTERRUPTION OU SANS ERREUR, QUE LES DÉFAUTS SONT CORRIGÉS, OU QUE CE SITE OU LE SERVEUR QUI L’HÉBERGE SONT EXEMPTS DE VIRUS OU DE TOUT AUTRE COMPOSANT DANGEREUX. NOUS NE GARANTISSONS PAS ET NE SOMMES PAS LES REPRÉSENTANTS DE L’UTILISATION OU DES RÉSULTATS DE L’UTILISATION DU CONTENU DE CE SITE EN TERMES D’EXACTITUDE, DE PRÉCISION, DE FIABILITÉ OU AUTRE. SI LA LÉGISLATION EN VIGUEUR NE PERMET PAS D’EXCLURE LES GARANTIES IMPLICITES, L’EXCLUSION SUSMENTIONNÉE NE VOUS CONCERNE PAS.</p>
</div>
{%endblock%}