{%extends 'base.html' %}
{% load bootstrap4 %}
{%load static%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentions_legales.css' %}"/>
{% endblock %}
{%block content%}
<div class="bloc">
    <h1><U>Politique de protection de la vie privée </i> </U></h1>
    <p>Veuillez les lire attentivement avant d’utiliser ce site. Par l'utilisation même de ce site, vous acceptez la Politique de protection de la vie privée et les Conditions d’utilisation. Si vous êtes en désaccord avec ces conditions, veuillez ne pas utiliser le présent site. Nous nous réservons le droit, à Notre entière discrétion, de changer, modifier, ajouter ou supprimer à tout moment tout élément des présentes conditions. La poursuite de l’utilisation de ce site après les changements effectués sur les présentes conditions tient lieu d’acceptation des conditions modifiées.</p>

    <h3>Politique de protection de la vie privée</h3>
    <p>La protection de votre vie privée sur Internet est une question importante pour nous. Dans le cadre du fonctionnement du présent site, nous rassemblons un certain nombre d’informations sur les utilisateurs. Nous voulons que vous connaissiez la nature de ces informations et l’utilisation que nous en faisons.</p>

    <h3>Données collectées</h3>
    <p>Nous collectons deux principaux types d’informations auprès des utilisateurs : données personnelles (telles que les noms et adresses électroniques) ; et les données agrégées (informations sur le trafic sur le site ; par exemple, nombre d’utilisateurs connectés à ce site quotidiennement).</p>

    <h3>Données personnelles</h3>
    <p>Les données personnelles sont collectées lorsque les utilisateurs nous fournissent des informations, par exemple, lorsqu'ils remplissent leur profil.</p>
    
    <h3>Utilisation des informations collectées</h3>
    <p>Les données personnelles fourni permettront SEULEMENT aux personnes ayant un identifiant, et étant connecté de voir votre profil, contenant les informations (numéro,mail).
    </p>

    <h3>Transmission à un tiers des informations collectées</h3>
    <p>Nous ne vendons ni commercialisons ni louons ni transmettons de toute autre manière que ce soit vos données personnelles à un tiers sans votre accord préalable.</p>

    <h3>Sécurité</h3>
    <p>La sécurité de toutes les informations personnellement identifiables qui sont associées à des utilisateurs de ce site est très importante pour nous. Nous appliquons plusieurs mesures de sécurité afin de garantir la sécurité de vos données personnelles. Vous ne devez communiquer à personne votre mot de passe ou votre numéro d’identification utilisateur. Il est malheureusement impossible de garantir à 100 % la sécurité de la transmission de données par Internet.</p>

    <h3>Clause de non-responsabilité</h3>
    <p>LE CONTENU DE CE SITE EST FOURNI « EN L’ETAT » ET SANS GARANTIE D’AUCUNE SORTE, NI EXPRESSE NI IMPLICITE. NOUS NE GARANTISSONS PAS QUE LE FONCTIONNEMENT DU SITE SE FASSE SANS INTERRUPTION OU SANS ERREUR, QUE LES DÉFAUTS SONT CORRIGÉS, OU QUE CE SITE OU LE SERVEUR QUI L’HÉBERGE SONT EXEMPTS DE VIRUS OU DE TOUT AUTRE COMPOSANT DANGEREUX. NOUS NE GARANTISSONS PAS ET NE SOMMES PAS LES REPRÉSENTANTS DE L’UTILISATION OU DES RÉSULTATS DE L’UTILISATION DU CONTENU DE CE SITE EN TERMES D’EXACTITUDE, DE PRÉCISION, DE FIABILITÉ OU AUTRE. SI LA LÉGISLATION EN VIGUEUR NE PERMET PAS D’EXCLURE LES GARANTIES IMPLICITES, L’EXCLUSION SUSMENTIONNÉE NE VOUS CONCERNE PAS.</p>
</div>
{%endblock%}