{%extends 'base.html' %}

{% block title %}
Mentions légales - Conditions d'utilisation du site
{% endblock %}

{% load bootstrap4 %}
{%load static%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentions_legales.css' %}"/>
{% endblock %}
{%block content%}
<div class="bloc">
    <h1><i class="fas fa-balance-scale"> </i> <U>Mentions Légales et conditions d'utilisation</i> </U></h1>
    <br>
    <h3>Éditeurs</h3>
    <p>Institut Villebon Georges Charpak | Bât 490 – rue Hector Berlioz | 91400 ORSAY</p>

    <h3> Directeur de la publication : <t>Bénédicte Humbert</t></h3>
    <br>
    <h3>Propriété intellectuelle</h3>
    <p>Le contenu du site de l’Institut Villebon – Georges Charpak est couvert par le droit d’auteur sauf mention contraire. La reproduction de tout ou partie de ce contenu nécessite une autorisation du directeur de la publication.</p>

    <h3>Réalisation, hébergement</h3>
    <p>Le développement du site de l’Institut Villebon – Georges Charpak a été réalisé par des étudiants de 3ème année pour l'UE "Projet Informatique"</p>
    <h3>Données personnelles</h3>
    <p>Les informations que vous aurez saisies sur le site de l’Institut Villebon – Georges Charpak  pourront être saisies pour leur traitement par l’Institut Villebon – Georges Charpak.<br>Vous disposez d’un droit d’accès, de modification, de rectification et de suppression concernant les données collectées sur ce site, dans les conditions prévues par la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.</p>
    <h3>Responsabilité de l’Utilisateur</h3>
    <p>L’Utilisateur  s’engage  à  respecter  l’ensemble  des dispositions  législatives et  réglementaires  en 
        vigueur,  et  notamment  à  ne  pas  mettre  en  ligne,  communiquer  ou  transmettre  des  informations, 
        contenus,  images  ou  messages 
        susceptibles d’être con
        sidérés  comme  insultants, 
        diffamatoires, 
        racistes, contraires à la morale et aux bonnes mœurs
        ,
        pornographiques
        ,  discriminatoires  ou  une 
        provocation aux crimes et aux délits et à la haine fondée sur la race, la religion, le sexe, l’apparence 
        ou  de  toute  aut
        re  nature.  De  tels  contenus  seront  immédiatement  supprimés  par notre service d'administration.
        .
        L’Utilisateur s’engage à respecter les droits des tiers et notamment les droits de la propriété 
        intellectuelle  et   le  droit  au  respect   de   la  vie  privée  tels  que   détaillés  à  l
        ’article 
        «
        Propriété 
        intellectuelle
        » ci
        -
        avant
        .
        L’Utilisateur s’engage en outre à ne pas altérer le fonctionnement des systèmes informatiques ni 
        usurper ou détourner les identifiants, dénominations, attributs des autres Utilisateurs, et d’une 
        manière génér
        ale à ne pas réaliser de quelque manière que ce soit une quelconque action de nature 
        à créer une confusion dans l’esprit des Utilisateurs.
        L’
        Utilisateur
        s’engage à ne pas 
        adopter
        un comportement de nature à porter atteinte à l’image, aux 
        intérêts et aux dr
        oits de l'Institut Villebon-Georges Charpak
        ou d’un tiers, ou 
        d’exécuter toute action de nature à 
        endommager, altérer, interrompre, surcharger, entraver le fonctionnement normal du Site.
        En cas de violation des Conditions Générales d’Utilisation, L'Institut Villebon-Georges Charpak
        se réser
        ve le droit 
        de limiter, de suspendre et d’arrêter l’accès de l’Utilisateur au Site et de prendre toutes les mesures 
        techniques à cet effet.
        L’Utilis
        ateur est seul responsable quant
        à l’utilisation qu’il fait des services disponibles sur le 
        Site
        que 
        ce soi
        t en accès libre sans identification ou à partir de son compte.
        L’Utilisateur
        est  responsable  des  contenus
        , messages, informations ou images qu’il met en ligne et 
        sera  tenu  pour  responsable  de  tous  dommages  directs  ou  indirects  de  quelque  nature  que  ce  soi
        t, 
        causés  par  toute  utilisation  du 
        Site
        ou  tout  autre  manquement  aux  présentes  Conditions  Générales 
        d’Utilisation</p>
    <h3>Informatiques et Libertés</h3>
    <p>L'Institut Villebon-Georges Charpak
        met tout en œuvre, dans le cadre d’une obligation générale de moyens, pour 
        mettre  à  la  disposition  des  internautes  un  site  sécurisé
        .
        L'Institut Villebon-Georges Charpak
        décline  toute 
        res
        ponsabilité quant aux éventuels défauts techniques liés à l’uti
        lisation du Site
        .</p>
    <h3>Utilisation et accès au Site</h3>
    <p>L’accès et l’utilisation du Site implique l’acceptation sans réserve 
        par
        l’Utilisateur des Conditions 
        Générales d’Utilisation. Nous nous réservons le  droit  de  modifier  à  tout  moment  les 
        Conditions  Générales  d’Utilisation.  La  dernière  version  en  vigueur  des  Conditions  Générales 
        d’Utilisation est accessible en permanen
        ce sur le Site 
        via l’onglet 
        «
        Mentions Légales
        » et  peut être 
        consultée à tout moment par les Utilisateurs. </p>
        <p>L’Utilisateur qui ne souhaiterait pas accepter toute ou partie des Conditions Générales ou une 
            modification ultérieure, doit renoncer à utiliser l
            e Site
            .</p>
        <p>Le 
            Site  est  accessible  gratuitement 
            à l’adresse suivante. Nous nous réservons la possibilité d’interrompre ou de suspendre momentanément l’accès au 
            Site ou d’en modifier l’accès pour des raisons de maintenance
            ou  pour  toutes  autres  raisons,  sans 
            que cela ouvre droit à une quelconque indemnité au profit de l’Utilisateur</p>
        <p>Pour pouvoir utiliser le Site, l’Utilisateur doit disposer d’un matériel informatique compatible avec les 
            spécifications 
            techniques  minimum
            .   Avant   toute   utilisation   du   Site, 
            l’Utilisateur doit s’assurer que son matériel informatique est compatible avec l’utilisation du Site et 
            des  produits  et  services  accessibles  sur  le  Site.  En  aucun
            cas,notre responsabilité ne pourra être engagée en cas d’impossibilité pour l’Utilisateur d’accéder au Site. </p>
</div>
{%endblock%}