{% extends 'Photo/base_Photo.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/Photo.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'js/Photo.js' %}" />

    <header>
        <div class="header">
            <h1 class="page-header">Photos</h1>
        </div>
    </header>


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-lg"> <img id="img" src="{% static "/images/FA.PNG" %}" style="width:30%" width="100px"/></button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img id="img" src="{% static "/images/FA.PNG" %}" style="width:100%" width="500px"/>
                Ceci est un test
            </div>
        </div>
    </div>
    <br><br/>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg"> <img id="img" src="{% static "/images/FA2.PNG" %}" style="width:30%" width="100px"/></button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img id="img" src="{% static "/images/FA2.PNG" %}" style="width:100%" width="500px"/>
            </div>
        </div>
    </div>

{% endblock %}
