{%extends 'fil_actu/base_fil_actu.html' %}
{% load bootstrap4 %}
{% block sous_content %}
    <div id ="position">
        <a class="btn btn-warning btn-lg" href="{% url 'fil-actu-nouveau-post' %}" role="button" target="_blank">Ajouter un Post</a>
    </div>
    {% for post in posts reversed %}
        <section class="big_tab_container">
            <section class="tab_container" >
                    <div class = "padding-post">
                        <h3><b>{{ post.titre }}</b></h3>
                        <p id="postInfo">posté par<span id="text"> {{ post.auteur.username }}</span></p>
                    </div>
                    <article class="contenu">
                        <p>{{ post.contenu}}</p>
                    </article>
                <div id="ligne"></div>
                <br>
                    <section class="big_tab_comments">
                        <h4><b>Commentaires</b></h4>
                        {%  if  post.commentaires.all|length == 0 %}
                            <p id="postInfo">Aucun commentaire pour le moment</p>
                        {%  else %}
                            {% for commentaire in post.commentaires.all reversed %}
                                <section class="commentaire">

                                    <section>
                                        <h5> De <span id="text">{{ commentaire.auteur }}</span></h5>
                                        <div id="contenu_commentaire">
                                            {{ commentaire.contenu }}
                                        </div>
                                    </section>
                                </section>
                            {% endfor %}
                        {% endif %}
                    </section>
                <div id="ligne"></div>
                <section class="footer_comments">
                    <div>
                        <a class="btn btn-warning btn-lg" href="{% url 'fil-actu-nouveau-commentaire' post_id=post.id %}" role="button" target="_blank">Ajouter un commentaire</a>
                    </div>
                </section>

            </section>
        </section>
    {% endfor %}
{% endblock %}