{%extends 'fil_actu/base_fil_actu.html' %}
{% load bootstrap4 %}
{% block sous_content %}
    <section class="big_tab_container" id="post-{{ post.id }}" >
        <div class="theme theme-{{ post.couleur }}">
            {%  if user == post.auteur %}
                <a type="button"  class="close modif-commentaire-post bouton-close-post" aria-label="Close" role="button" href={%url 'fil-actu-supprime-post' post_id=post.id %}>
                    <span aria-hidden="true"><i class="far fa-trash-alt fa-2x color-poubelle"></i></span>
                </a>
                <div class="spacer"> </div>
            {% endif %}
        </div>
        <section class="tab_container">
            <div class = "padding-post">
                {% if post.auteur.etudiant %}
                    {% if post.auteur.etudiant.photo %}
                        <img class="photo" src="{{ post.auteur.etudiant.photo.url }}">
                    {% endif %}
                    <h3>{{ post.titre }}</h3>
                    <p class="postInfo">posté par<a class="text" href="{% url "profil-etudiant" etudiant_id=post.auteur.etudiant.id %}"> {{ post.auteur.username }}</a></p>
                {% endif %}
                <div class="spacer"> </div>
            </div>
            <article class="contenu">
                <p class="contenu_post">{{ post.contenu}}</p>
            </article>
            <div class="ligne"></div>
            <br>
            <section class="big_tab_comments" id="comments-{{ post.id }}">
                <h3>Commentaires</h3>
                {%  if post.commentaires_visibles|length == 0 %}
                    <p class="postInfo">Aucun commentaire pour le moment</p>
                {%  else %}
                    {% for commentaire in post.commentaires_visibles reversed %}
                        {%  if  not commentaire.supprime%}
                            <section class="commentaire">
                                {%  if user == commentaire.auteur %}
                                    <a type="button"  class="close modif-commentaire-post" aria-label="Close" role="button" href={%url 'fil-actu-supprime-commentaire' post_id=post.id commentaire_id=commentaire.id%}?provenance=detail>
                                        <span aria-hidden="true"><i class="far fa-trash-alt fa-lg"></i></span>
                                    </a>
                                    <a type="button" class="close modif-commentaire-post" aria-label="Close" role="button" href={%url 'fil-actu-modif-commentaire' post_id=post.id commentaire_id=commentaire.id%}>
                                        <span aria-hidden="true"><i class="fa fa-edit fa-lg"></i></span>
                                    </a>
                                {% endif %}
                                {% if commentaire.auteur.etudiant %}
                                    {% if commentaire.auteur.etudiant.photo %}
                                        <img class="photo_commentaire" src="{{ commentaire.auteur.etudiant.photo.url }}">
                                    {% endif %}
                                    <div class="postInfo_Commentaire text-commentaire">De <a class="text" href="{% url "profil-etudiant" etudiant_id=commentaire.auteur.etudiant.id %}">{{ commentaire.auteur.username }}</a></div>
                                    <div class="spacer"> </div>
                                {% endif %}
                                <div class="contenu_commentaire">
                                    <p class="postInfo">{{ commentaire.contenu }}</p>
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="" method="post" class="form">
                    {% csrf_token %} {# SECURITE A GARDER!!! #}
                    <div id="form-commentaire">
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-warning">
                                Envoyer
                            </button>
                        {% endbuttons %}
                    </div>
                </form>
            </section>
        </section>
    </section>
{% endblock %}