{%extends 'fil_actu/base_fil_actu.html' %}
{% load bootstrap4 %}
{% block sous_content %}
    <section class="big_tab_container" id="post-{{ post.id }}" >
        <section class="tab_container">
            <div class = "padding-post">
                {% if post.auteur.etudiant %}
                    {% if post.auteur.etudiant.photo %}
                        <img class="photo" src="{{ post.auteur.etudiant.photo.url }}">
                    {% endif %}
                    <h3><b>{{ post.titre }}</b></h3>
                    <p class="postInfo">posté par<a class="text" href="{% url "profil-etudiant" etudiant_id=post.auteur.etudiant.id %}"> {{ post.auteur.username }}</a></p>
                {% endif %}
                <div class="spacer"> </div>
            </div>
            <article class="contenu">
                <p>{{ post.contenu}}</p>
            </article>
            <div class="ligne"></div>
            <section class="big_tab_comments" id="comments-{{ post.id }}" ">
                <h4><b>Commentaires</b></h4>
                {%  if post.commentaires_visibles|length == 0 %}
                    <p class="postInfo">Aucun commentaire pour le moment</p>
                {%  else %}
                    {% for commentaire in post.commentaires_visibles reversed %}
                        {%  if  not commentaire.supprime%}
                            <section class="commentaire">
                                {%  if user == commentaire.auteur %}
                                    <a type="button" class="close" aria-label="Close"  role="button" href={%url 'fil-actu-supprime-commentaire' post_id=post.id commentaire_id=commentaire.id %}?provenance=detail>
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                {% endif %}
                                <h5> De <span class="text">{{ commentaire.auteur }}</span></h5>
                                <div class="contenu_commentaire">
                                    {{ commentaire.contenu }}
                                </div>
                                {%  if user == commentaire.auteur %}
                                    <div class="modif-commentaire">
                                        <a type="button" class="btn btn-primary btn-sm" href="{% url 'fil-actu-modif-commentaire' post_id=post.id commentaire_id=commentaire.id%}">Modifier mon commentaire</a>
                                    </div>
                                    <div class="spacer"> </div>
                                {% endif %}
                            </section>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="" method="post" class="form">
                    {% csrf_token %} {# SECURITE A GARDER!!! #}
                    <div id="center_modif">
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-warning">
                                Envoyer
                            </button>
                        {% endbuttons %}
                    </div>
                </form>
            </section>
        </section>
    </section>
{% endblock %}