{%extends 'fil_actu/base_fil_actu.html' %}
{% block title %}
    Ajout d'un nouveau post...
{% endblock %}

{% load bootstrap4 %}
{% block sous_content %}
    <div id="page_post">
        {% bootstrap_messages %}
        {# Display a form #}
        <form action="" method="post" class="form">
            {% csrf_token %} {# SECURITE A GARDER!!! #}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary " >
                    Envoyer
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}