{% load static %}
{% load hijack_tags %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="shortcut icon" href="{% static "images/charpak.png" %}">
    <script src="{% static "js/jquery-3.3.1.js" %}" type="text/javascript" ></script>

    {% block head %}
    {% endblock %}

</head>
<body>

{% hijack_notification %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
{% bootstrap_javascript jquery='full' %}

<div class="wrapper sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="sidebar-header">
            <a><img id="icone" src="{% static "images/charpak2.png" %}" class="d-inline-block" alt=""></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fil-actu-index' %}">Fil d'actualité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'arborescence-index' %}">Réseaux des anciens</a>
                </li>
            </ul>
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Moi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'FAQ-index' %}">Mon espace de travail</a>
                    <a class="dropdown-item" href="#">Ma boîte mail</a>
                    <a class="dropdown-item" href="#">Mon emploi du temps</a>
                </div>
            </li>
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    FAQ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'FAQ-index' %}">Astuces pour les devoirs</a>
                    <a class="dropdown-item" href="{% url 'FAQ-astuces' %}">Astuces à l'institut</a>
                    <a class="dropdown-item" href="{% url 'FAQ-index' %}">Activités excrascolaire</a>
                    <a class="dropdown-item" href="{% url 'FAQ-index' %}">Le BDE, Kezako ?</a>
                    <a class="dropdown-item" href="{% url 'FAQ-index' %}">Infos utiles</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Trouver" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trouver</button>
            </form>
            <span class="navbar-text">
{% if user.is_authenticated %}
    Bonjour {{ user.username }} ! <a class= "button" href="#">Déconnexion</a>
{% else %}
    Vous n'etes pas connecté <a class= "button" href="{% url 'login' %}">Connexion</a>
{% endif %}    </span>
        </div>
    </nav>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
