{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <script src="{% static "js/jquery-3.3.1.js" %}" type="text/javascript" ></script>
    {% block head %}
    {% endblock %}
</head>
<body>
{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}

{% block content %}
{% endblock %}
</body>
</html>
