{% load static %}
{% load hijack_tags %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="shortcut icon" href="{% static "images/charpak.png" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <script src="{% static "js/jquery-3.3.1.js" %}" type="text/javascript" ></script>
    <script src="{% static "js/sidebar.js" %}" type="text/javascript" ></script>

    {% bootstrap_javascript jquery='full' %}


    {% block head %}
    {% endblock %}

</head>
<body><div id="haut"></div>

{% hijack_notification %}

<div class="wrapperup sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/"><img id="icone"  src="{% static "images/charpak2.png" %}" class="d-inline-block" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline ">
            <input class="form-control mr-sm-2" type="search" placeholder="Trouver" aria-label="Search">
            <button  class="btn btn-primary my-2 my-sm-0" type="submit">Trouver</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fil-actu-index' %}">Fil d'actualité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'arborescence-index' %}">Réseaux des anciens</a>
                </li>
                <li class="nav-item dropdown list-unstyled">
                    <a class="nav-link dropdown-toggle  list-unstyled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        Moi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'login' %}">Mon profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'FAQ-index' %}">Mon espace de travail</a>
                        <a class="dropdown-item" href="#">Ma boîte mail</a>
                        <a class="dropdown-item" href="#">Mon emploi du temps</a>
                    </div>
                </li>
                <li class="nav-item dropdown list-unstyled">
                    <a class="nav-link dropdown-toggle  list-unstyled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FAQ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'FAQ-index' %}">Astuces pour les devoirs</a>
                        <a class="dropdown-item" href="{% url 'FAQ-astuces' %}">Astuces à l'institut</a>
                        <a class="dropdown-item" href="{% url 'FAQ-extra' %}">Activités extrascolaire</a>
                        <a class="dropdown-item" href="{% url 'FAQ-info' %}">Infos utiles</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
{% if user.is_authenticated %}
    Bonjour {{ user.username }} ! <a class= "button" href="{% url 'logout' %}">Déconnexion</a>
{% else %}
    Vous n'etes pas connecté <a class= "button" href="{% url 'login' %}">Connexion</a>
{% endif %}    </span>
        </div>
    </nav>
</div>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a href="fil-actu-index">Fil d'actualité</a>
            </li>
            <li>
                <a href="#">Réseau</a>
            </li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">FAQ</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a class="dropdown-item" href="{% url 'FAQ-index' %}">Astuces pour les devoirs</a>

            </li>
            <li>
                <a class="dropdown-item" href="{% url 'FAQ-astuces' %}">Astuces à l'institut</a>

            </li>
            <li>
                <a class="dropdown-item" href="{% url 'FAQ-extra' %}">Activités extrascolaire</a>

            </li>
            <li>
                <a class="dropdown-item" href="{% url 'FAQ-info' %}">Infos utiles</a>

            </li>
        </ul>
        </ul>

    </nav>
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-light pt-4" id ="footer">
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <a href="#haut" class="btn btn-danger btn-rounded" id="call_to_action">Retour en haut</a>
                </li>
            </ul>
            <!-- Call to action -->
            <hr id ="hr">
            <!-- Grid row -->
            <div class="row" id="copyright">
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    © 2018 Copyright: Institut CHARPAK
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <a  href="#!" id="copyright">Mentions légales</a>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <a  href="#!" id="copyright">Politique de protection de la vie privée</a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <a  href="#!" id="copyright">Conditions d'utilisation</a>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </footer>
        <!-- Footer -->
    </div>
</div>

</body>
</html>