{% extends 'arborescence/base_arborescence.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/arborescence.css' %}" />
{% endblock %}

{% block content %}
    <header>
        <div class="grid-container" id="boutons_haut">
            <div class="grid-item">
                <input type="button" value="Afficher les promos actuelles" />
            </div>
            <div class="grid-item">
                <form>
                    <select name="promo" size="1">
                        <option selected> Toutes les promos</option>
                        {% for promo, etudiants in etudiants_dict.items %}
                            <option>Promo {{ promo.nom }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="grid-item">
                <form>
                    <select name="formation" size="1">
                        {% for formation in formations %}
                            <option> {{ formation.nom }} </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </header>

{% for promo, etudiants in etudiants_dict.items %}

    <div class="div-promo div-promo-{{promo.couleur}}">
        <h3>
            Promo {{ promo.nom }}
        </h3>
        <p>
            {% for etudiant in etudiants %}
            <a href="/profil/{{etudiant.id}}">{{ etudiant.nom }} {{ etudiant.prenom }} |</a>
            {% endfor %}
        </p>
    </div>
{% endfor %}
{% endblock %}
