{% extends 'arborescence/base_arborescence.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/arborescence.css' %}"/>
{% endblock %}

{% block content %}
    <header>
        <form class="grid-container" id="boutons_haut">
            <div class="grid-item">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        promo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for promo, etudiants in etudiants_dict.items %}
                        <a class="dropdown-item" href="arborescence?promo={{promo.id}}"> Promo {{ promo.nom }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        formation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for formation in formations %}
                        <a class="dropdown-item" href="arborescence?formation={{formation.id}}">{{ formation.nom }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="grid-item"
                 filtre actuel : 
            </div>
            <div class="grid-item">
                <a class="btn btn-primary" href="arborescence" role="button">Supprimer les filtres</a>
            </div>
        </form>
    </header>

{% for promo, etudiants in etudiants_dict.items %}

<div class="div-promo div-promo-{{ promo.couleur }}">
    <h3>
        <a href="{% url "profil-promo" promo_id=promo.id %}"> 
            Promo {{ promo.nom }}
        </a>
    </h3>
    <ul class="flex-container">
        {% for etudiant in etudiants %}
        <li class="flex-item">
            <div class="niveau1">
                <p>
                    <a href="{% url "profil-etudiant" etudiant_id=etudiant.id %}">
                        {% if etudiant.photo %}
                            <img src="{{ etudiant.photo.url }}" alt="image de profil" width="60" height="60"/>
                        {% else %}
                            <img src="{% static 'images/no_image.png' %}" alt="image de profil" width="60" height="60"/>
                        {% endif %}
                    </a>
                </p>
                <p>
                    <a href="{% url "profil-etudiant" etudiant_id=etudiant.id %}">{{ etudiant.nom }} {{ etudiant.prenom }}</a>
                </p>
            </div>
        </li>
        {% endfor %}
</div>
{% endfor %}

{% endblock %}
