{% extends 'arborescence/base_arborescence.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/arborescence.css' %}"/>
{% endblock %}

{% block content %}
    <header>
        <div class="grid-container" id="boutons_haut">
            <div class="grid-item">
                <input type="button" value="Afficher les promos actuelles"/>
            </div>
            <div class="grid-item">
                <form>
                    <select name="promo" size="1">
                        <option selected> Toutes les promos</option>
                        {% for promo, etudiants in etudiants_dict.items %}
                            <option>Promo {{ promo.nom }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="grid-item">
                <form>
                    <select name="formation" size="1">
                        {% for formation in formations %}
                            <option> {{ formation.nom }} </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </header>

    {% for promo, etudiants in etudiants_dict.items %}

        <div class="div-promo div-promo-{{ promo.couleur }}">
            <h3>
                <a href="{% url "profil-promo" promo_id=promo.id %}"> 
                    Promo {{ promo.nom }}
                </a>
            </h3>
            <p>
                <ul class="flex-container"> {# TODO : What ?! #}
                    {% for etudiant in etudiants %}
                        <li class="flex-item">
                        <p>
                            <a href="{% url "profil-etudiant" etudiant_id=etudiant.id %}">
                                {% if etudiant.photo %}
                                    <img src="{{ etudiant.photo.url }}" alt="image de profil" width="80" height="80"/>
                                {% else %}
                                    <img src="{% static 'images/no_image.png' %}" alt="image de profil" width="80"
                                         height="80"/>
                                {% endif %}
                            </a>
                        </p>
                        <p>
                            <a href="{% url "profil-etudiant" etudiant_id=etudiant.id %}">{{ etudiant.nom }} {{ etudiant.prenom }}</a>
                        </p>
                        </li> {# TODO : Balises en trop #}
                    {% endfor %}
                </ul> {# TODO : Balises en trop #}
            </p> {# TODO : Balises en trop #}
        </div>
    {% endfor %}
{% endblock %}
