.grid-container {
    display: grid;
    grid-template-columns: 40% 20% 20%;
}

.grid-item {
    padding-left: 80%
}

#section_promo {
    background-color: cornflowerblue
}
section {
    padding-left: 20%;
}
h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
}
a {
    padding-right: 10px;
}