.grid-container {
    display: grid;
    grid-template-columns: 10% 10% 10% 20% 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-item {
    padding-left: 10%;
}

.div-promo {
    border: 5px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.div-promo a {
    color: black;
}

.div-promo-bleu {
    background-color: rgba(28, 69, 139, 0.5);
}

.div-promo-rouge {
    background-color: rgba(224, 102, 102, 0.75);
}

.div-promo-jaune {
    background-color: rgba(255, 217, 102, 0.75);
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    padding: 1px;
    width: 130px;
    height: 130px;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 50px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: black;
}

.hover {
    position: absolute;
    width: 130px;
    height: 200px;
    top: 10px;
    left: 120px;
    background-color: white;
    z-index: 20;
    text-align: center;
    font-size: 13px;
}

.niveau2 {
    display: none;
}

.niveau1:hover .niveau2 {
    display: block;
}

.niveau1:hover {
    background-color: white;
}

.profile-pic {
    border-radius:40%; 
    margin-top: 3px;
}