#icone{
    width: 207px;
    height: 52px;
}

.content{
    width: 100%;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

a[data-toggle="collapse"] {
    position: absolute;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #d5d2d5;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#buttonTrouver {
    color: #1c8b1e;
}

#buttonTrouver:hover{
    background: #1c8b1e;
    color: #fff;
}

#footer {
    margin: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: 5rem;
}

.list-unstyled {
    padding-right: 10px;
    list-style: none;
    list-style-position: outside;
}