/* charte graphique

Fond du block content :
#ccccccff
(204, 204, 204)

Noir :
#00000
(0, 0, 0)

Blanc :
#ffffff
(255, 255, 255)

Rouge foncé :
#e06666ff
(224, 102, 102)

Rouge clair :
#f4ccccff
(244, 204, 204)

Bleu foncé :
#1c4587ff
(28, 69, 139)

Bleu clair :
#c9daf8ff
(201, 218, 248)

Vert foncé :
#6aa84fff
(106, 168, 79)

Vert clair :
#d9ead3ff
(217, 234, 211)

Jaune foncé :
#ffd966ff
(255, 217, 102)

Jaune clair :
#fff2ccff
(255, 242, 204)

 */

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#icone{
    width: 207px;
    height: 52px;
}

.content{
    width: 100%;
    background: white;
}

#copyright{
    font-size: 15px;
}

.wrapperup {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background: #1c4587ff;
}

a[data-toggle="collapse"] {
    position: absolute;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #404040;
}

#footer {
    margin: 20px;
}

#navbarSupportedContent{
    text-align: center;

}

.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
}

.list-unstyled {
    text-align: center;
    padding-right: 20px;
}

.navbar-collapse{
    font-size: 15px;
}

.navbar-text{
    left: -100px;
}

.navbar-light .navbar-nav .nav-link{
    color: #404040;
}

.wrapperside {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 225px;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #c9daf8ff;
    color: black;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    text-align: left;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}