/* charte graphique

Fond du block content :
#ccccccff
(204, 204, 204)

Noir :
#00000
(0, 0, 0)

Blanc :
#ffffff
(255, 255, 255)

Rouge foncé :
#e06666ff
(224, 102, 102)

Rouge clair :
#f48680
(244, 134, 128)

Bleu foncé :
#1c4587ff
(28, 69, 139)

Bleu clair :
#c9daf8ff
(201, 218, 248)

Vert foncé :
#6aa84fff
(106, 168, 79)

Vert clair :
#d9ead3ff
(217, 234, 211)

Jaune foncé :
#ffd966ff
(255, 217, 102)

Jaune clair :
#fff2ccff
(255, 242, 204)

Violet foncé :
#c27ba0ff
(194, 123, 160)

Violet clair :
#ead1dcff
(234, 209, 220)

 */

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: white;
    position: relative;
    padding-bottom: 20em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #404040;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#icone{
    width: 52px;
    height: 52px;
}

.content{
    margin-left: 12rem;
    margin-right: 0rem;
    width: 100%;
    background: white;
}


.content.active{
    margin-left: 0;
    margin-right: 2.5rem;
    background: white;
}

.copyright{
    font-size: 15px;
}

.wrapperup {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background: #1c4587ff;
}

a[data-toggle="collapse"] {
    position: absolute;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
}

#footer {
    margin: 20px;
    bottom: 0;
    position: absolute;
    clear:both;
    padding-top:20px;
}

* {-moz-box-sizing: border-box; box-sizing: border-box;}
#call_to_action{
    border: none;
    background: #e06666ff;
}

#navbarSupportedContent{
    text-align: center;

}

.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
}

.list-unstyled {
    text-align: center;
    padding-right: 20px;
}

.navbar-collapse{
    font-size: 15px;
}

#connexion{
    padding-left: 70% ;
}

#profile{
    width: 30px;
    height: 30px;
}

.navbar-light .navbar-nav .nav-link{
    color: #404040;
}

.wrapperside {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    z-index: 999;
    background: #c9daf8ff;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    text-align: center;
    color: white;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#fil_actu{
    margin-top: 30px;
    margin-right: 30px;
    width: 200px;
    background: #e06666ff;
}

#reseaux{
    margin-top: 30px;
    margin-right: 30px;
    width: 200px;
    background: #6aa84fff
}


#FAQ{
    border-radius: 0;
    border: none;
    padding: 20px;
    width: 200px;
    list-style: none;
    margin-top: 30px;
    margin-right: 30px;
    background: #1c4587ff;
}
#photos{
    margin-top: 30px;
    margin-right: 30px;
    width: 200px;
    color: black;
    background: #ffd966ff;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: #1c4587ff;
    border: 0;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #fffaf5;
    display: block;
    border: none;
    background: none;
    width:100%;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.dropdown-btn:hover {
    color: #f1f1f1;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-top: 5px;
    text-align: left;
    font-size: 0.9em;
    width: 200px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.navbar-toggler{
    background: none;
}

.btn-info {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    padding: 5px 5px;

}

.btn-info:hover {
    color: white;
    background-color: black;
    border-color: #fff;
}

.form-control {
    display: block;
    width: 80%;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
