.header {
    padding: 30px;
    text-align: center;
    background: white;
}


.header h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

h4 {
    color: lightskyblue;
}


.leftcolumn {
    float: left;
    width: 75%;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


