.header {
    padding: 30px;
    text-align: center;
    background: white;
}


.header h1 {
    font-size: 50px;
}

.topnav1 {
    margin-left: 1000px;
    overflow: hidden;
    background-color: #ffd966ff;
}

.topnav2 {
    overflow: hidden;
    background-color: #c9daf8ff;
}

.topnav3 {
    overflow: hidden;
    background-color: #e06666ff;
}

.topnav4 {
    overflow: hidden;
    background-color: #6aa84fff;
}

h4 {
    color: lightskyblue;
}



.leftcolumn {
    float: left;
    width: 75%;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.footer_comments{
    display: flex;
    justify-content: center;
    padding:1%;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

