/* Pour un post*/

/* Typographie*/


h3{
    font-size: 16px;
    font-weight:bold;
    line-height: 1.1em;
    margin-bottom:5px;
}


.postInfo{
    display:block; /* Spans are inline element so needs to be changed to block in order for the margin to work */
    color:#808080;
    margin-top:5px;
    margin-bottom:10px;
}

.postInfo_Commentaire{
    margin-left:3.5em;
    margin-top:3px;
}
p{
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom:18px;
}


/*-----------------------------------------------------------------------------------*/
/*  Tabs
/*-----------------------------------------------------------------------------------*/

.position{
    position:fixed;
    width: 10%;
    margin:auto 0;
}

.big_tab_container{
    margin:0 auto ;
    width: 50%;
    padding:10px;
    background-color: #e9ebee;
}
.tab_container {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:10px;

}

.padding-post{
    padding:0px;
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-style: dotted;
    border-width: 2px;
    border-bottom-color: black;

}

.text-commentaire{
    font-size: small;
}
.contenu{
    margin:5px;
    padding:10px;
}

.contenu_post{
     color:black;
}

.big_tab_comments{
    margin-left: 3%;
    margin-right:3%;
}
.commentaire{
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #e9ebee;
    border-radius: 10px;
    padding: 2%;

}

.footer_comments{
    display: flex;
    justify-content: center;
    padding:1%;
}

.comments_center{
}

.contenu_commentaire{
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 5%;
}
.text{
    color: #6d7fcc;
}
.ligne{
    border-top-style: solid;
    border-width:1px;
    border-color: black;
}


.modif-commentaire-post{
    padding-left: 3px;
    float:right;
    font-size: 0.5rem;
}

.btn-primary {
    color: white;
}

.spacer{
    clear: both;
}

.photo{
    float:left;
    width: 10em;
}

.photo_commentaire{
    float:left;
    width: 40px;
    border-radius: 30px;
}



#id_contenu{
    width: 100%;
    height: 100px;
}
#id_titre{
    width: 100%;
    height: 40px;
}

.theme{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:20px;
}

#page_post{
    margin:0 auto;
    margin-top: 20px;
    width: 50%;
    padding:10px;
    background-color: #e9ebee;
    border-radius: 20px;

}

.color-poubelle{
    color:white;
    margin: 1px;
}

.bouton-close-post{
    margin-right:10px;
}

.taille_icone{
    font-size: 0.5rem;
}
.theme-violet {
    background-color: rgb(194,123 , 160);
}

.theme-bleu {
    background-color: rgb(28, 69, 139);
}

.theme-rouge {
    background-color: rgb(224, 102, 102);
}

.theme-jaune {
    background-color: rgb(255, 217, 102);
}

.theme-vert {
    background-color: rgb(106, 168, 79);
}

#form-commentaire{
    padding: 0.5em;
}


