/* Pour un post*/

/* Typographie*/


h3{
    font-size: 16px;
    font-weight:bold;
    line-height: 1.1em;
    margin-bottom:5px;
}


.postInfo{
    display:block; /* Spans are inline element so needs to be changed to block in order for the margin to work */
    color:#808080;
    margin-top:5px;
    margin-bottom:10px;
}
p{
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom:18px;
}


/*-----------------------------------------------------------------------------------*/
/*  Tabs
/*-----------------------------------------------------------------------------------*/

.position{
    position:fixed;
    width: 10%;
    margin:auto 0;
}

.big_tab_container{
    margin:0 auto ;
    width: 50%;
    padding:10px;
    background-color: #e9ebee;
}

.tab_container {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding:10px;

}

.padding-post{
    padding:10px;
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-style: dotted;
    border-width: 2px;
    border-bottom-color: black;

}

.contenu{
    margin:5px;
    padding:10px;
}

.big_tab_comments{
    margin-left: 3%;
    margin-right:3%;
}
.commentaire{
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #e9ebee;
    border-radius: 10px;
    padding: 2%;
}

.footer_comments{
    margin-left:1%;
    padding-bottom:1%;
    margin-top:1%;
}
.contenu_commentaire{
    margin-left: 5%;
}
.text{
    color: #6d7fcc;
}
.ligne{
    border-top-style: solid;
    border-width:1px;
    border-color: black;
}


.modif-commentaire{
    float:right;
}
.btn-primary {
    color: white;
}

.spacer {
    clear: both;
}

