/* Pour un post*/

/* Typographie*/


h3{
    font-size: 16px;
    font-weight:bold;
    line-height: 1.1em;
    margin-bottom:5px;
}


#postInfo{
    display:block; /* Spans are inline element so needs to be changed to block in order for the margin to work */
    color:#808080;
    margin-top:5px;
    margin-bottom:10px;
}
p{
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom:18px;
}


/*-----------------------------------------------------------------------------------*/
/*  Tabs
/*-----------------------------------------------------------------------------------*/

#position{
    left:200%;
    margin:100px auto 0;
}
.tab_container {
    position: relative;
    margin:100px auto 0;
    width: 900px;
    border-radius: 15px;
    border-style: solid;
    border-width: 8px;
    border-color: green;
}
