t{
    color: cornflowerblue;
    font-weight: bold;
}
p{
    padding:15px;
    font-family: 'Poppins', sans-serif;
    color : black;
}
h1,h3{
    font-family: 'Poppins', sans-serif;
}

.a_propos{
    border-radius: 10px;
    margin-left: 5%;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: 130%;
}
.tout{
    flex-shrink: initial;
    display: flex;
}
.information_sup{
    border-radius: 10px;
    margin-left: 5%;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: 130%;

}
.trophes{
    border-radius: 10px;
    margin-left: 25%;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: 30%;
}

.div-promo a {
    color: black;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-bleu {
    background-color: rgba(28, 69, 139, 0.5);
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-rouge {
    background-color: rgba(224, 102, 102, 0.75);
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-jaune {
    background-color: rgba(255, 217, 102, 0.75);
    align-items: center;
    display: flex;
    justify-content:space-between;
}