t{
    color: cornflowerblue;
    font-weight: bold;
}
p{
    padding:5px;
    font-family: 'Poppins', sans-serif;
    color : black;
}
h1,h3{
    font-family: 'Poppins', sans-serif;
}
h2{
    padding: 10px;
}
.mise_en_page{
    border-radius: 10px;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: auto;
    
}
.information_sup{
    border-radius: 10px;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: auto;

}
.tout{
    flex-shrink: initial;
    display: flex;
    justify-content: space-evenly;
}

.trophes{
    min-width: 25%;
    border-radius: 10px;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: auto;
}


.div-promo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.div-promo a {
    color: black;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-bleu {
    background-color: rgba(28, 69, 139, 0.5);
}
.div-promo-rouge {
    background-color: rgba(224, 102, 102, 0.75);
}
.div-promo-jaune {
    background-color: rgba(255, 217, 102, 0.75);
}