h1{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
t{
    padding:5px;
    font-family: 'Poppins', sans-serif;
    color : black;
    font-size: 12px;
    font-weight: normal;
    
}
p{
    padding:5px;
    font-family: 'Poppins', sans-serif;
    color : black;
    font-size: 12px;
}
.bloc{
    margin: 2%;
}