.div-promo a {
    color: black;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-bleu {
    background-color: rgba(28, 69, 139, 0.5);
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-rouge {
    background-color: rgba(224, 102, 102, 0.75);
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.div-promo-jaune {
    background-color: rgba(255, 217, 102, 0.75);
    align-items: center;
    display: flex;
    justify-content:space-between;
}
.ensemble{
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 15px;
    border-style: ridge;
    border-width: 2px;
    background-color: #eeeeee;
    width: 95%;
}
p{
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
    color : black;
}
.photo1{
    z-index: 2;
}
.photo2{
    z-index: 1;
    margin-top: 40%;
}