{%extends 'profil/base_profil.html' %}
{%load static%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_profil.css' %}"/>
{% endblock %}
{%block content%}
<div class="div-promo div-promo-{{ etudiant.promo.couleur }}">
        <div >
            {% if etudiant.photo %}
                <a href="/profil/{{etudiant.id}}"> <img src="{{etudiant.photo.url}}" alt="image de profil" width="100" height="100" /></a>
            {%else%}
                <a href="/profil/{{etudiant.id}}"> <img src={% static 'images/no_image.png' %} alt="image de profil" width="100" height="100" /> </a>
            {% endif %}
        </div>
        <div>
            <h1 class="">{{etudiant.nom}} {{etudiant.prenom}}</h1>
        </div>
        {% if request.user.is_authenticated%}
            {% if etudiant.user == request.user%}
            <div class = "modify">
                <a href="{% url "modifier-etudiant" etudiant_id=etudiant.id %}">
                <p class="btn btn-outline-dark" >Modifier votre profil</p>
                </a>
            </div>
            {% endif %}
        {% endif %}
        <div><h2>L{{etudiant.promo.niveau_relatif}}</h2></div>
</div>

        <br>
<div class="tout">
    <div>
        <div class="a_propos"><h3>A propos</h3>
            <p>
            {% if etudiant.email %}
                Email : {{etudiant.email}}
            {% else %}
                Email : Non renseigné
            {% endif %}
            <br>
            {% if etudiant.telephone %}
                Numéro de teléphone : {{etudiant.telephone}}
            {% else %}
                Numéro de teléphone : Non renseigné
            {% endif %}
            <br>
            {% if etudiant.parrain %}
                <a href="{% url 'profil-etudiant' etudiant_id=etudiant.parrain.id %}">Parrain : <t>{{etudiant.parrain}}</t></a>
            {% else %}
                Parrain : Non renseigné
            {% endif %}
            <br>
            {% if etudiant.profil_bac %}
                Profil Bac : {{etudiant.profil_bac}}
            {% else %}
                Profil Bac : Non renseigné
            {% endif %}
            <br>
            {% if etudiant.formation %}
                Formation : {{etudiant.formation}}
            {% else %}
                Formation : Non renseigné
            {% endif %}
            <br>
            </p>
        </div>
        <br>

        <div class="information_sup">
            <h3>Informations complémentaires: </h3>
            <p>
            {% if etudiant.statut %}
                {{etudiant.statut}}
            {% else %}
                Non renseigné.
            {% endif %}
            </p>
        </div>
    </div>
    <div class="trophes">
            <h3>Trophés</h3>
            {% if etudiant.promo.icone %}
                <img src="{% static 'images/2019.jpg' %}" alt="image de profil" width="150" height="100"/>
            <br>
            {% else%}
                {{etudiant.promo}}
            {% endif %}
    </div>
</div>
{%endblock%}