{%extends 'profil/base_profil.html' %}
{% load bootstrap4 %}
{%load static%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modifier_profil.css' %}"/>
{% endblock %}
{%block content%}
<div class="div-promo div-promo-{{ etudiant.promo.couleur }}">
        <div>
            {% if etudiant.photo %}
                <img src="{{etudiant.photo.url}}" alt="image de profil" width="150" height="150" />
            {%else%}
                <img src={% static 'images/no_image.png' %} alt="image de profil" width="150" height="150" />
            {% endif %}
            <input type="file" name="nom" />
        </div>
        <div>
            <h1 class="">{{etudiant.nom}} {{etudiant.prenom}}</h1>
        </div>
        <div><h2>L{{etudiant.promo.niveau_relatif}}</h2></div>
</div>
<div class="ensemble">
    <div>
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary " >
                    Envoyer
                </button>
            {% endbuttons %}
        </form>
    </div>
{%endblock%}