{%extends 'profil/base_profil.html' %}
{%load static%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modifier_profil.css' %}"/>
{% endblock %}
{%block content%}
<div class="div-promo div-promo-{{ etudiant.promo.couleur }}">
        <div>
            {% if etudiant.photo %}
                <img src="{{etudiant.photo.url}}" alt="image de profil" width="150" height="150" />
            {%else%}
                <img src={% static 'images/no_image.png' %} alt="image de profil" width="150" height="150" />
            {% endif %}
            <br>
            <input type="file" name="nom" />
        </div>
        <div>
            <h1 class="">{{etudiant.nom}} {{etudiant.prenom}}</h1>
        </div>
        <div><h2>L{{etudiant.promo.niveau_relatif}}</h2></div>
</div>
<div class="ensemble">
    <div>
        <h3>Votre profil</h3>
    </div>
    <div>
        <br>
        <form action="/your-name/" method="post">
            <label for="email">Email :  </label>
            <input id="email" type="text" name="email" value="{{ current_mail }}">
            <p><label for="id_renvoi">/!\</label> <input type="checkbox" name="renvoi" id="id_renvoi" /> <span class="helptext">Cochez si vous ne souhaitez pas afficher cette information.</span></p>
            <label for="numero">Numéro de téléphone :  </label>
            <input id="email" type="text" name="email" value="{{ current_mail }}">
            <p><label for="id_renvoi">/!\</label> <input type="checkbox" name="renvoi" id="id_renvoi" /> <span class="helptext">Cochez si vous ne souhaitez pas afficher cette information.</span></p>
            <label for="numero">Profil Bac  </label>
            <select id="maListe1" name="liste">
                    <option value="1">Valeur 1</option>
                    <option value="2">Valeur 2</option>
            </select>
            <p><label for="id_renvoi">/!\</label> <input type="checkbox" name="renvoi" id="id_renvoi" /> <span class="helptext">Cochez si vous ne souhaitez pas afficher cette information.</span></p>
            <label for="numero">Informations complémentaires : </label>
            <input id="email" type="text" name="email" value="{{ current_mail }}">
            <br>
            <label for="numero">Parrain :  </label>
            <select id="maListe1" name="liste">
                    <option value="1">Valeur 1</option>
                    <option value="2">Valeur 2</option>
            </select>
            <br>
            <label for="numero">Formation :  </label>
            <select id="maListe1" name="liste">
                    <option value="1">Valeur 1</option>
                    <option value="2">Valeur 2</option>
            </select>
            <br>
            <input type="submit" value="Sauvegarder">
        </form> 
</div>
{%endblock%}